* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.what_we_do {
  text-align: center;
  width: 637px;
  height: 104px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 80px auto;
  color: black;
}

.what_we_do h1 {
  font-weight: bolder;
  font-size: 32px;
}

.what_we_do p {
  font-size: 16px;
}

@media (width <= 768px) {
  .what_we_do {
    height: 184px;
    width: 400px;
  }

  .icons {
    width: 300px;
    margin: 0;
  }
}

@media (width <= 376px) {
  .what_we_do {
    height: 288px;
    width: 325px;
  }
}

.icons {
  width: 1002px;
  height: 193px;
  margin: 8rem auto 80px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 58px;
  color: black;
}

.icons div {
  margin: 0 auto;
  text-align: center;
  width: 207px;
  height: 179px;
}

.icons img {
  margin: 0 auto;
  width: 67.59px;
  height: 76.8px;
}

.icons h1 {
  font-size: 18px;
  font-weight: 600;
  margin: 0.6rem 0;
}

.icons p {
  font-size: 14px;
  font-weight: 400;
}

@media (width <= 768px) {
  .icons {
    grid-template-columns: repeat(2, 1fr);
    width: 472px;
    height: 469px;
    row-gap: 58px;
    column-gap: 96px;
  }

  .icons img {
    width: 61.43px;
    height: 61.44px;
  }
}

@media (width <= 376px) {
  .icons {
    grid-template-columns: repeat(1, 1fr);
    width: 207px;
    height: 1020px;
    column-gap: 96px;
  }
}
