body {
  margin: 0;
  padding: 0;
  color: #000000;
  box-sizing: content-box;
}
header {
  background-color: transparent;
  display: flex;
  padding: 0.5rem 2rem;
  width: 1146px;
  height: 29px;
  position: fixed;
  margin: 0 auto;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  ul {
    display: flex;
    align-items: center;
    gap: 53px;
  }

  li {
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

main {
  background-color: #fff;
}

.main_part {
  background-image: url("/css_advanced/background.png");
  background-position: center;
  color: #fff;
  height: 1093px;
  padding: 0 5rem;
}

.main_part .top {
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_part .top h1 {
  font-size: 120px;
  line-height: 1;
}

.main_part .top span {
  font-size: 16px;
  margin: 0.5rem;
}
.main_part .top button {
  background-color: #c271ff;
  border: none;
  color: #fff;
  font-size: 14px;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  margin-top: 15px;
  stroke: 1px #979797;
}

.pross {
  text-align: center;
  width: 1000px;
  margin: 15rem auto;
}

.pross h2 span {
  color: #c271ff;
}

.pros-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1009px;
  height: 237px;
  margin: 5rem auto;
}

.pros-wrapper .pros {
  width: 150px;
  height: 237px;
}

.pros-wrapper .pros img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.pros-wrapper .pros h3 {
  font-size: 18px;
  font-weight: 900;
  line-height: 0;
}

.pros-wrapper .pros p {
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
}

.testimonials_wrapper {
  background-color: #c271ff;
  color: #fff;
  height: 392px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.testimonials {
  width: 943px;
  height: 160px;
  display: flex;
  gap: 53px;
  align-items: center;
  justify-content: center;
}

.testimonials img {
  border-radius: 100%;
}

.testimonials blockquote {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  width: 730px;
  height: 68px;
  /* line-height: 33.6; */
}

.testimonials h3 {
  font-size: 22px;
  font-weight: bold;
  /* line-height: 33.6; */
}

.testimonials p {
  font-style: italic;
  font-size: 22px;
  /* line-height: 33.6; */
}

.tutorials-wrapper {
  display: flex;
  background-color: white;
  flex-direction: column;
  height: 624px;
}

.tutorials-wrapper h2 {
  text-align: center;
  font-size: 32px;
}

.tutorials-wrapper h2 span {
  color: #c271ff;
}

.tutorials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1228px;
  margin: 0 auto;
  height: 450px;
}

.tutorials .video {
  width: 255px;
  height: 335px;
  /* background-color: rebeccapurple; */
}

.tutorials .author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tutorials .author img {
  border-radius: 100%;
}

.tutorials .author h4 {
  color: #c271ff;
}

.ratings {
  display: flex;
  align-items: center;
}

.ratings i {
  color: #c271ff;
}

.tutorials .min {
  color: #c271ff;
}

.membership-wrapper {
  background-color: #071629;
  height: 502px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.membership-wrapper h2 span {
  color: #c271ff;
}

.membership {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.member {
  width: 257px;
  height: 153px;
  display: flex;
  flex-direction: column;
}

.member img {
  width: 43.67px;
  height: 35.35px;
  margin: 0 auto;
}

.membership-wrapper button {
  background-color: #c271ff;
  border: none;
  color: #fff;
  font-size: 14px;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  margin-top: 45px;
  stroke: 1px #979797;
}

.faq-wrapper {
  width: 920px;
  height: 707px;
  margin: 1rem auto;
}

.faq-wrapper h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 100;
}

.faq {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  /* width: 320px; */
}
.faq-grid {
  width: 350px;
}

footer {
  background-color: #071629;
  height: 249px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer section {
  width: 920px;
}

footer section div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer section p {
  text-align: center;
  margin-top: 5rem;
  opacity: 0.3;
}

.brands {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fa-brands {
  background-color: #fff;
  color: black;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
